@page
@using TestDrivenPipelineHotel.Data
@model PrivacyModel
@{
    ViewData["Title"] = "Rooms";
}
<h1>Our Rooms</h1>
@if (FakeDatabase.Rooms.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Type Name</th>
                <th>Price</th>
				<th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var roomDetail in FakeDatabase.Rooms)
            {
                <tr>
@*                     <td>@roomDetail.RoomID</td>
                    <td>@roomDetail.TypeName</td>
                    <td>@roomDetail.Price.ToString("C")</td>
                    <td>@roomDetail.Description</td> *@
                </tr>
            }
        </tbody>
    </table>
}
